force-app/main/default/flows/CorreoBienvenidaEmpresa.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Envía un correo de bienvenida a las nuevas empresas</description>
        <name>WelcomeAlertAccount</name>
        <label>Alerta Bienvenida Empresa</label>
        <locationX>558</locationX>
        <locationY>134</locationY>
        <actionName>Account.AlertaBienvenidaEmpresa</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>CreateAlertTask</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>52.0</apiVersion>
    <decisions>
        <description>Empresa que está registrada en el sistema</description>
        <name>RegisterAccount</name>
        <label>Empresa registrada</label>
        <locationX>562</locationX>
        <locationY>396</locationY>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>OkCIF</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ImagenURL</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>InsertLogo</targetReference>
            </connector>
            <label>CIF Existe</label>
        </rules>
    </decisions>
    <description>Correo de bienvenida y tarea que se lanza cuando una empresa se registra</description>
    <formulas>
        <description>Fecha en la que finaliza la tarea</description>
        <name>DueDate</name>
        <dataType>Date</dataType>
        <expression>TODAY() + 3</expression>
    </formulas>
    <formulas>
        <description>Fecha en la que saltará el recordatorio de la tarea</description>
        <name>ReminderDate</name>
        <dataType>DateTime</dataType>
        <expression>NOW() + 1</expression>
    </formulas>
    <formulas>
        <description>Imagen en rich text</description>
        <name>RichText</name>
        <dataType>String</dataType>
        <expression>&apos;&lt;p&gt;&lt;img src=&quot;&apos;+{!ImagenURL}+&apos;&quot; alt=&quot;Image&quot;&gt;&lt;/img&gt;&lt;/p&gt;&apos;</expression>
    </formulas>
    <formulas>
        <description>Asunto de la tarea</description>
        <name>SubjectTask</name>
        <dataType>String</dataType>
        <expression>&quot;Recordatorio: Verificar datos de &quot; + {!$Record.Name}</expression>
    </formulas>
    <interviewLabel>Correo Bienvenida Empresa {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Correo Bienvenida Empresa</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <description>Cuando una cuenta es creada, se crea una tarea de alerta (para verificar datos de la empresa) que notifica al gestor de prácticas 24 horas después de su creación.</description>
        <name>CreateAlertTask</name>
        <label>Crear Tarea Alerta</label>
        <locationX>742</locationX>
        <locationY>143</locationY>
        <connector>
            <targetReference>ObtainImage</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>DueDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsReminderSet</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ReminderDateTime</field>
            <value>
                <elementReference>ReminderDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>SubjectTask</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <description>Obtiene la imagen del metadato</description>
        <name>ObtainImage</name>
        <label>Obtener Imagen</label>
        <locationX>742</locationX>
        <locationY>293</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>RegisterAccount</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CIF__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountNumber</elementReference>
            </value>
        </filters>
        <object>LogoAccount__mdt</object>
        <outputAssignments>
            <assignToReference>ImagenURL</assignToReference>
            <field>ImageLogo__c</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <description>Asigna el logo de la cuenta automáticamente</description>
        <name>InsertLogo</name>
        <label>Asignar logo</label>
        <locationX>751</locationX>
        <locationY>464</locationY>
        <inputAssignments>
            <field>Logo__c</field>
            <value>
                <elementReference>RichText</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>WelcomeAlertAccount</targetReference>
        </connector>
        <object>Account</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <description>URL de la imagen</description>
        <name>ImagenURL</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
